
TeknoLojistik.WEB.UI/.vs/TeknoLojistik.WEB.UI/v15/.suo
TeknoLojistik.WEB.UI/.vs/TeknoLojistik.WEB.UI/v15/.suo
TeknoLojistik.WEB.UI/.vs/TeknoLojistik.WEB.UI/v15/Server/sqlite3/storage.ide-shm
TeknoLojistik.WEB.UI/.vs/TeknoLojistik.WEB.UI/v15/.suo
*.ide-shm
TeknoLojistik.WEB.UI/.vs/TeknoLojistik.WEB.UI/v15/Server/sqlite3/storage.ide-wal
TeknoLojistik.WEB.UI/TeknoLojistik.Web.BLL/obj/Debug/TeknoLojistik.Web.BLL.csproj.CoreCompileInputs.cache
TeknoLojistik.WEB.UI/TeknoLojistik.Web.BLL/obj/Debug/TeknoLojistik.Web.BLL.csprojAssemblyReference.cache
TeknoLojistik.WEB.UI/.vs/TeknoLojistik.WEB.UI/v15/.suo
