<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <label>Plaka: </label>
        <input type="text" id="txtPlaka" />
    </div>
    <br />
    <div>
        <label>Plaka 2: </label>
        <input type="text" id="txtPlaka2" />
    </div>
    <br />
    <div>
        <label>Marka: </label>
        <input type="text" id="txtMarka" />
    </div>
    <br />
    <div>
        <label>Model: </label>
        <input type="text" id="txtModel" />
    </div>
    <br />
    <div>
        <label>Yıl: </label>
        <input type="text" id="txtYil" />
    </div>
    <br />
    <div>
        <label>Kapasite: </label>
        <input type="text" id="txtKapasite" />
    </div>
    <div>
        <input type="button" id="btnKaydet" class="k-button" value="Kaydet" />
    </div>
</body>
</html>